In [4]:
import requests
import pandas as pd

# The API endpoint for the CA LMID LAUS dataset
endpoint = "https://data.edd.ca.gov/resource/e6gw-gvii.json"

# Initialize an empty list to store all the data
all_data = []

# Set the initial parameters for pagination (if applicable)
params = {"$limit": 1000, "$offset": 0}

while True:
    # Make the HTTP request with the current parameters
    response = requests.get(endpoint, params=params)

    # Check the response status code
    if response.status_code != 200:
        # The request failed, so print an error message
        print(f"Error fetching data from {endpoint}: {response.status_code}")
        break
    
    # The request was successful, so get the JSON data
    data = response.json()
    
    # Add the current batch of data to the all_data list
    all_data.extend(data)
    
    # Check if there is more data to retrieve
    if len(data) < 1000:
        break
    
    # Update the offset for the next request
    params["$offset"] += 1000

201684

In [38]:
df = pd.DataFrame(all_data)
df = df.query('area_name == "San Diego-Carlsbad MSA" and year >= "2018" and seasonally_adjusted_y_n == "N"')

In [43]:
# data type dicionary
dtypes = {
    'area_name' : 'str',
    'date': 'datetime64[ns]',
    'year': 'int',
    'month': 'str',
    'labor_force': 'str',
    'employment': 'str',
    'unemployment': 'int',
    'unemployment_rate': 'float'}

df = df.astype(dtypes)

df = df.sort_values(by='date')

In [44]:
cols = list(dtypes.keys())
df = df[cols]

                     area_name       date  year     month labor_force  \
10172   San Diego-Carlsbad MSA 2018-01-01  2018   January     1569700
26393   San Diego-Carlsbad MSA 2018-02-01  2018  February     1582800
42619   San Diego-Carlsbad MSA 2018-03-01  2018     March     1582500
58845   San Diego-Carlsbad MSA 2018-04-01  2018     April     1569300
75071   San Diego-Carlsbad MSA 2018-05-01  2018       May     1573100
...                        ...        ...   ...       ...         ...
47757   San Diego-Carlsbad MSA 2023-03-01  2023     March     1618200
63983   San Diego-Carlsbad MSA 2023-04-01  2023     April     1598900
80186   San Diego-Carlsbad MSA 2023-05-01  2023       May     1595000
96435   San Diego-Carlsbad MSA 2023-06-01  2023      June     1591600
112638  San Diego-Carlsbad MSA 2023-07-01  2023      July     1599100

       employment  unemployment  unemployment_rate
10172     1511200         58500              0.037
26393     1526800         56000              0.035
42619     1529300         53200              0.034
58845     1520900         48400              0.031
75071     1527800         45200              0.029
...           ...           ...                ...
47757     1558700         59500              0.037
63983     1546100         52800              0.033
80186     1539300         55800              0.035
96435     1528200         63400              0.040
112638    1536300         62800              0.039

[66 rows x 8 columns]